# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
bot/
env/
.bot/

# Environment variables
.env
*.env

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/

# Logs
*.log

# Python packaging
*.egg
*.egg-info/
dist/
build/
